<div class = "container">
  <div class = "card">
    <div class = "card-body">
      <div class="container-fluid">
        <div class="row">
          <h1>My Team / My Task</h1>
          <p class="col-lg-12 title">- 所属しているチームとタスクの一覧 -</p>

          <div class="row justify-content-center">
            <button class="btn btn-red col-5">
              <i class="bi bi-person-square"></i>
              <%= link_to '新しいチームを作成', new_team_path %>
            </button>
          </div>

          <% current_user.team_members.each do |team| %>
            <div class="col-lg-6">
              <div class="card-team">
                <div class="card-header bg-primary"></div>
                  <h6 class="card-title"><%= team.name %></h6>
                  <div class="card-body-team">
                    <i class="bi bi-people-fill"></i><%= link_to 'チームの詳細', team_path(team.id) %>
                    <span class="btn btn-secondary">
                      <i class="bi bi-list-task"></i><%= link_to 'チームのタスク', team_tasks_path(team.id) %>
                    </span>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.icon-img{
  text-align:center;
}
.text-green strong{
  color:#4E889A;
  font-weight:bold;
}
.btn-red, .btn-red a{
  color:#fff;
}
.card-team{
  background-color: #fff;
  margin: 10px;
  color:#50595B;
  border-radius:5px;
}
.card-body-team{
  padding:1.25rem;
  color:#50595B;
}
.card-title{
  text-align:center;
  margin:5px 0;
}
.card-header{
  height:8px;
}
.btn.btn-secondary a{
  color:white;
  font-weight:bold;
  padding-left:10px;
}
.title{
  text-align:center;
  font-size:18px;
}
.card{
  background-color:#ECDDD6;
  border: #fff;
  padding: 10px;
}
.card-body{
  padding:1.25rem;
  color:#50595B;
}
</style>