<div class = "container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="box">
        <div class="title-box">
          <h1 class="col-lg-6 title">TOPPA!</h1>
          <p class="col-lg-6 sub-title">
            複数人が一つのチームとして「めんどくさいタスク」を協力・分担して乗り越えるためのアプリ
          </p>
        </div>
        <div class="explanation large row">
          <p>家族やグループで、こんな経験ありませんか？</p>
          <ul class="explanation-list">
            <li>つい、「誰かがやってくれるだろう」と思って後回しにしてしまう　…</li>
            <li>忙しくて期限を忘れていた　消耗品を買い忘れてしまった　…</li>
            <li>誰も手をつけず最終的に負担が偏ってしまう　…</li>
          </ul>
        </div>

        <p class="large">
        そこで、家族やグループ、プロジェクトが<span class="underline">楽しみながら</span><br>
        <span class="underline">タスク管理と進捗管理ができる</span>アプリをつくりました。
        </p>
        <div class="app-explanation">
          <p>
            <span class="app" >このアプリでは、</span>
          </p>
          <ul class="do_list">
            <li><%= image_tag ("top_bird_green.png") %>チームでご褒美を設定し、ちょっとした楽しみに向かって自分の役割に取り組めます</li>
            <li><%= image_tag ("top_bird_green.png") %>タスクの実行状況や進捗状況がグラフになっているので、状況をぱっと理解できます</li>
            <li><%= image_tag ("top_bird_green.png") %>期限が迫ると通知が自動で送られるので、期限の管理をアプリにお任せできます</li>
          </ul>
        </div>
        <label class="top-image"><%= image_tag ("top_people.png") %></label>
        <p>一緒に、目の前にある壁を<span class="text-green large">TOPPA!</span>していきましょう！</p>
      </div>
    </div>
  </div>
</div>

<style>
body{
  background-color:#FFF9F9;
}
.container{
	margin: 0 auto;
	text-align:center;
}
.box{
	margin-top:50px;
}
.congrats{
	color:#F3A5A3;
	font-size:50px;
}
.title-box{
  display:flex;
}
.title-box .title{
  font-size:90px;
  color: #4E889A;
  font-weight: bold;
  text-align:center;
  color:#F3A5A3;
  text-align:right;
}
.sub-title{
  font-weight:bold;
  color:#727779;
  padding-top:10px;
  font-size:20px;
  text-align:left;
}
.explanation{
  padding:5px;
  color:#3D3F40;
}
.text-green{
  color:#4E889A;
  font-weight:bold;
}
.app-explanation{
  padding:10px;
}
.top-image img{
  height:150px;
}
.explanation-list li{
  font-size:14px;
}
.large{
  font-size:18px;
}
.underline{
  background: linear-gradient(transparent 80%, #ff99ab 80%);
}
.underline.thin{
  background: linear-gradient(transparent 90%, #ff99ab 90%);
}
.do_list li{
  font-size:16px;
  margin-bottom:5px;
}
.do_list{
  border:4px dotted #BDD1DF;
  width:700px;
  margin:0 auto;
  border-radius:20px;
  padding:10px;
}
.app{
  color:#727779;
  font-weight:bold;
  font-size:18px;
}
</style>