<p>
<h1>TOPPA</h1>
<label>"めんどくさいタスク"をチームで協力してTOPPA！していくためのアプリ</label>
</p>
<p>家族や複数人のいるグループ、プロジェクトを進めている時、
こんな経験ありませんか？</p>
<ul>
<li>つい「誰かがやってくれるだろう」と思って後回しにしてしまう</li>
<li>忙しくて期限を忘れていた/消耗品を買い忘れてしまった</li>
<li>誰も手をつけず最終的に負担が偏ってしまう　…</li>
</ul>

<p>
そこで、複数人がチームとして、
楽しみながらめんどくさいタスク乗り越えられるTOPPAをつくりました。
</p>
<p>
このアプリでは、
</p>
<ul>
<li>チームでご褒美を設定し、ちょっとした楽しみに向かって自分の役割に取り組めます</li>
<li>タスクの実行状況や進捗状況がグラフになっているので、状況をぱっと理解できます</li>
<li>期限が迫ると通知が自動で送られるので、期限の管理をアプリにお任せできます</li>
</ul>
</p>