<h1>TOPPA!</h1>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,400;1,700&family=Quicksand:wght@700&display=swap');

h1{
  font-family: 'Quicksand', sans-serif;
  color: #F3A5A3;
}
</style>
