<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8">
      <div class="card">
        <div class="card-body">
          <h1>Creating a New Task</h1>
          <p class="col-lg-12 title">- タスクを新しく作成する -</p>

          <%= render 'form', task: @task, team: @team %>
          <hr>
          <span class="back">
            <%= link_to '戻る', team_tasks_path(team_id:params[:team_id]) %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.card{
  background-color:#ECDDD6;
  border: #fff;
  padding: 10px;
}
.title{
  text-align:center;
  font-size:18px;
  color:#524f4f;
}
</style>