li {
  list-style: none;
}

.icon img{
  width: 100px;
  border-radius: 50%;
}

.icon_comment img{
  width: 50px;
  border-radius: 50%;
}

.image img{
  width: 200px;
}



.page-item>li>a {
  border: none;
  color: #696969; 
}


.page-item>.active>a {
  background: #4E889A;
  border-radius: 15px;
}


.page-item>li>a:hover {
  border-radius: 15px;
}

