.icon img{
  width: 100px;
  border-radius: 50%;
}

li {
  list-style: none;
}

.icon_comment img{
  width: 30px;
  border-radius: 50%;
}

.image img{
  width: 200px;
}



.page-item>li>a {
  border: none;
  color: #696969; 
}


.page-item>.active>a {
  background: #4E889A;
  border-radius: 15px;
}


.page-item>li>a:hover {
  border-radius: 15px;
}

/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
  color: #244048;
  background-color: #cde0e6;
  border-color: #c0d7df;
}

.alert-primary hr {
  border-top-color: #afcdd6;
}

.alert-primary .alert-link {
  color: #132226;
}

.badge-primary {
  color: #fff;
  background-color: #4E889A;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #fff;
  background-color: #3c6a78;
}

.bg-primary {
  background-color: #4E889A !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #3c6a78 !important;
}

.border-primary {
  border-color: #4E889A !important;
}

.btn-primary {
  color: #fff;
  background-color: #4E889A;
  border-color: #4E889A;
}

.btn-primary:hover {
  color: #fff;
  background-color: #417382;
  border-color: #3c6a78;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(78, 136, 154, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #4E889A;
  border-color: #4E889A;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3c6a78;
  border-color: #37616d;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(78, 136, 154, 0.5);
}

.btn-outline-primary {
  color: #4E889A;
  background-color: transparent;
  border-color: #4E889A;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #4E889A;
  border-color: #4E889A;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(78, 136, 154, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #4E889A;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #4E889A;
  border-color: #4E889A;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(78, 136, 154, 0.5);
}

.list-group-item-primary {
  color: #244048;
  background-color: #c0d7df;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #244048;
  background-color: #afcdd6;
}

.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #244048;
  border-color: #244048;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #c0d7df;
}

.table-hover .table-primary:hover {
  background-color: #afcdd6;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #afcdd6;
}

.text-primary {
  color: #4E889A !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #3c6a78 !important;
}


/*------------------------------------
- COLOR secondary
------------------------------------*/
.alert-secondary {
  color: #e43b36;
  background-color: #F3A5A3;
  border-color: #F3A5A3;
}

.alert-secondary hr {
  border-top-color: #F3A5A3;
}

.alert-secondary .alert-link {
  color: #cd1f1a;
}

.badge-secondary {
  color: #212529;
  background-color: #F3A5A3;
}

.badge-secondary[href]:hover, .badge-secondary[href]:focus {
  color: #212529;
  background-color: #ed7875;
}

.bg-secondary {
  background-color: #F3A5A3 !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #ed7875 !important;
}

.border-secondary {
  border-color: #F3A5A3 !important;
}

.btn-secondary {
  color: #212529;
  background-color: #F3A5A3;
  border-color: #F3A5A3;
}

.btn-secondary:hover {
  color: #212529;
  background-color: #ee8683;
  border-color: #ed7875;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(243, 165, 163, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #212529;
  background-color: #F3A5A3;
  border-color: #F3A5A3;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  color: #212529;
  background-color: #ed7875;
  border-color: #eb6b68;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(243, 165, 163, 0.5);
}

.btn-outline-secondary {
  color: #F3A5A3;
  background-color: transparent;
  border-color: #F3A5A3;
}

.btn-outline-secondary:hover {
  color: #212529;
  background-color: #F3A5A3;
  border-color: #F3A5A3;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(243, 165, 163, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #F3A5A3;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
  color: #212529;
  background-color: #F3A5A3;
  border-color: #F3A5A3;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(243, 165, 163, 0.5);
}

.list-group-item-secondary {
  color: #e43b36;
  background-color: #F3A5A3;
}

.list-group-item-secondary.list-group-item-action:hover, .list-group-item-secondary.list-group-item-action:focus {
  color: #e43b36;
  background-color: #F3A5A3;
}

.list-group-item-secondary.list-group-item-action.active {
  color: #212529;
  background-color: #e43b36;
  border-color: #e43b36;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #F3A5A3;
}

.table-hover .table-secondary:hover {
  background-color: #F3A5A3;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #F3A5A3;
}

.text-secondary {
  color: #F3A5A3 !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: #ed7875 !important;
}


/*------------------------------------
- COLOR dark
------------------------------------*/
.alert-dark {
  color: #5f6466;
  background-color: #10610610;
  border-color: #fcfcfc;
}

.alert-dark hr {
  border-top-color: #eeeff0;
}

.alert-dark .alert-link {
  color: #474a4c;
}

.badge-dark {
  color: #212529;
  background-color: #9DA2A4;
}

.badge-dark[href]:hover, .badge-dark[href]:focus {
  color: #212529;
  background-color: #82888b;
}

.bg-dark {
  background-color: #9DA2A4 !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #82888b !important;
}

.border-dark {
  border-color: #9DA2A4 !important;
}

.btn-dark {
  color: #212529;
  background-color: #9DA2A4;
  border-color: #9DA2A4;
}

.btn-dark:hover {
  color: #212529;
  background-color: #8a9092;
  border-color: #82888b;
}

.btn-dark:focus, .btn-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(157, 162, 164, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #212529;
  background-color: #9DA2A4;
  border-color: #9DA2A4;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
  color: #212529;
  background-color: #82888b;
  border-color: #7a8184;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(157, 162, 164, 0.5);
}

.btn-outline-dark {
  color: #9DA2A4;
  background-color: transparent;
  border-color: #9DA2A4;
}

.btn-outline-dark:hover {
  color: #212529;
  background-color: #9DA2A4;
  border-color: #9DA2A4;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(157, 162, 164, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #9DA2A4;
  background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-dark.dropdown-toggle {
  color: #212529;
  background-color: #9DA2A4;
  border-color: #9DA2A4;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(157, 162, 164, 0.5);
}

.list-group-item-dark {
  color: #5f6466;
  background-color: #fcfcfc;
}

.list-group-item-dark.list-group-item-action:hover, .list-group-item-dark.list-group-item-action:focus {
  color: #5f6466;
  background-color: #eeeff0;
}

.list-group-item-dark.list-group-item-action.active {
  color: #212529;
  background-color: #5f6466;
  border-color: #5f6466;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #fcfcfc;
}

.table-hover .table-dark:hover {
  background-color: #eeeff0;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #eeeff0;
}

.text-dark {
  color: #9DA2A4 !important;
}

a.text-dark:hover, a.text-dark:focus {
  color: #82888b !important;
}


/*------------------------------------
- COLOR red
------------------------------------*/
.alert-red {
  color: #a42c28;
  background-color:  #faeceb;
  border-color: #ff100100;
}

.alert-red hr {
  border-top-color: #faeceb;
}

.alert-red .alert-link {
  color: #7c211e;
}

.badge-red {
  color: #212529;
  background-color: #DB706D;
}

.badge-red[href]:hover, .badge-red[href]:focus {
  color: #212529;
  background-color: #d04744;
}

.bg-red {
  background-color: #DB706D !important;
}

a.bg-red:hover, a.bg-red:focus,
button.bg-red:hover,
button.bg-red:focus {
  background-color: #d04744 !important;
}

.border-red {
  border-color: #DB706D !important;
}

.btn-red {
  color: #212529;
  background-color: #DB706D;
  border-color: #DB706D;
}

.btn-red:hover {
  color: #212529;
  background-color: #d35350;
  border-color: #d04744;
}

.btn-red:focus, .btn-red.focus {
  box-shadow: 0 0 0 0.2rem rgba(219, 112, 109, 0.5);
}

.btn-red.disabled, .btn-red:disabled {
  color: #212529;
  background-color: #DB706D;
  border-color: #DB706D;
}

.btn-red:not(:disabled):not(.disabled):active, .btn-red:not(:disabled):not(.disabled).active, .show > .btn-red.dropdown-toggle {
  color: #212529;
  background-color: #d04744;
  border-color: #cd3b37;
}

.btn-red:not(:disabled):not(.disabled):active:focus, .btn-red:not(:disabled):not(.disabled).active:focus, .show > .btn-red.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(219, 112, 109, 0.5);
}

.btn-outline-red {
  color: #DB706D;
  background-color: transparent;
  border-color: #DB706D;
}

.btn-outline-red:hover {
  color: #212529;
  background-color: #DB706D;
  border-color: #DB706D;
}

.btn-outline-red:focus, .btn-outline-red.focus {
  box-shadow: 0 0 0 0.2rem rgba(219, 112, 109, 0.5);
}

.btn-outline-red.disabled, .btn-outline-red:disabled {
  color: #DB706D;
  background-color: transparent;
}

.btn-outline-red:not(:disabled):not(.disabled):active, .btn-outline-red:not(:disabled):not(.disabled).active, .show > .btn-outline-red.dropdown-toggle {
  color: #212529;
  background-color: #DB706D;
  border-color: #DB706D;
}

.btn-outline-red:not(:disabled):not(.disabled):active:focus, .btn-outline-red:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-red.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(219, 112, 109, 0.5);
}

.list-group-item-red {
  color: #a42c28;
  background-color: #ff100100;
}

.list-group-item-red.list-group-item-action:hover, .list-group-item-red.list-group-item-action:focus {
  color: #a42c28;
  background-color: #faeceb;
}

.list-group-item-red.list-group-item-action.active {
  color: #212529;
  background-color: #a42c28;
  border-color: #a42c28;
}

.table-red,
.table-red > th,
.table-red > td {
  background-color: #ff100100;
}

.table-hover .table-red:hover {
  background-color: #faeceb;
}

.table-hover .table-red:hover > td,
.table-hover .table-red:hover > th {
  background-color: #faeceb;
}

.text-red {
  color: #DB706D !important;
}

a.text-red:hover, a.text-red:focus {
  color: #d04744 !important;
}


/*------------------------------------
- COLOR success
------------------------------------*/
.alert-success {
  color: #26516f;
  background-color: #e6eff6;
  border-color: #d7e6f1;
}

.alert-success hr {
  border-top-color: #c4daea;
}

.alert-success .alert-link {
  color: #193549;
}

.badge-success {
  color: #212529;
  background-color: #4F92C2;
}

.badge-success[href]:hover, .badge-success[href]:focus {
  color: #212529;
  background-color: #3977a4;
}

.bg-success {
  background-color: #4F92C2 !important;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #3977a4 !important;
}

.border-success {
  border-color: #4F92C2 !important;
}

.btn-success {
  color: #212529;
  background-color: #4F92C2;
  border-color: #4F92C2;
}

.btn-success:hover {
  color: #212529;
  background-color: #3d80b0;
  border-color: #3977a4;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(79, 146, 194, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
  color: #212529;
  background-color: #4F92C2;
  border-color: #4F92C2;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  color: #212529;
  background-color: #3977a4;
  border-color: #356f99;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(79, 146, 194, 0.5);
}

.btn-outline-success {
  color: #4F92C2;
  background-color: transparent;
  border-color: #4F92C2;
}

.btn-outline-success:hover {
  color: #212529;
  background-color: #4F92C2;
  border-color: #4F92C2;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(79, 146, 194, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #4F92C2;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
  color: #212529;
  background-color: #4F92C2;
  border-color: #4F92C2;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(79, 146, 194, 0.5);
}

.list-group-item-success {
  color: #26516f;
  background-color: #d7e6f1;
}

.list-group-item-success.list-group-item-action:hover, .list-group-item-success.list-group-item-action:focus {
  color: #26516f;
  background-color: #c4daea;
}

.list-group-item-success.list-group-item-action.active {
  color: #212529;
  background-color: #26516f;
  border-color: #26516f;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #d7e6f1;
}

.table-hover .table-success:hover {
  background-color: #c4daea;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #c4daea;
}

.text-success {
  color: #4F92C2 !important;
}

a.text-success:hover, a.text-success:focus {
  color: #3977a4 !important;
}


/*------------------------------------
- COLOR white
------------------------------------*/
.alert-white {
  color: #82c0ff;
  background-color: #1c8164ff;
  border-color: #1b4159ff;
}

.alert-white hr {
  border-top-color: #19b14dff;
}

.alert-white .alert-link {
  color: #4fa7ff;
}

.badge-white {
  color: #212529;
  background-color: #fdfeff;
}

.badge-white[href]:hover, .badge-white[href]:focus {
  color: #212529;
  background-color: #cae4ff;
}

.bg-white {
  background-color: #fdfeff !important;
}

a.bg-white:hover, a.bg-white:focus,
button.bg-white:hover,
button.bg-white:focus {
  background-color: #cae4ff !important;
}

.border-white {
  border-color: #fdfeff !important;
}

.btn-white {
  color: #212529;
  background-color: #fdfeff;
  border-color: #fdfeff;
}

.btn-white:hover {
  color: #212529;
  background-color: #d9ecff;
  border-color: #cae4ff;
}

.btn-white:focus, .btn-white.focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 254, 255, 0.5);
}

.btn-white.disabled, .btn-white:disabled {
  color: #212529;
  background-color: #fdfeff;
  border-color: #fdfeff;
}

.btn-white:not(:disabled):not(.disabled):active, .btn-white:not(:disabled):not(.disabled).active, .show > .btn-white.dropdown-toggle {
  color: #212529;
  background-color: #cae4ff;
  border-color: #badcff;
}

.btn-white:not(:disabled):not(.disabled):active:focus, .btn-white:not(:disabled):not(.disabled).active:focus, .show > .btn-white.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 254, 255, 0.5);
}

.btn-outline-white {
  color: #fdfeff;
  background-color: transparent;
  border-color: #fdfeff;
}

.btn-outline-white:hover {
  color: #212529;
  background-color: #fdfeff;
  border-color: #fdfeff;
}

.btn-outline-white:focus, .btn-outline-white.focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 254, 255, 0.5);
}

.btn-outline-white.disabled, .btn-outline-white:disabled {
  color: #fdfeff;
  background-color: transparent;
}

.btn-outline-white:not(:disabled):not(.disabled):active, .btn-outline-white:not(:disabled):not(.disabled).active, .show > .btn-outline-white.dropdown-toggle {
  color: #212529;
  background-color: #fdfeff;
  border-color: #fdfeff;
}

.btn-outline-white:not(:disabled):not(.disabled):active:focus, .btn-outline-white:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-white.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 254, 255, 0.5);
}

.list-group-item-white {
  color: #82c0ff;
  background-color: #1b4159ff;
}

.list-group-item-white.list-group-item-action:hover, .list-group-item-white.list-group-item-action:focus {
  color: #82c0ff;
  background-color: #19b14dff;
}

.list-group-item-white.list-group-item-action.active {
  color: #212529;
  background-color: #82c0ff;
  border-color: #82c0ff;
}

.table-white,
.table-white > th,
.table-white > td {
  background-color: #1b4159ff;
}

.table-hover .table-white:hover {
  background-color: #19b14dff;
}

.table-hover .table-white:hover > td,
.table-hover .table-white:hover > th {
  background-color: #19b14dff;
}

.text-white {
  color: #fdfeff !important;
}

a.text-white:hover, a.text-white:focus {
  color: #cae4ff !important;
}
